<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="POS_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="POS_System.My.MySettings.POS_DBConnectionString" connectionString="Data Source=iura\iura;Initial Catalog=POS_DB;User ID=sa;Password=p@ssw0rd" providerName="System.Data.SqlClient"/>
    <add name="POS_System.My.MySettings.POS_DBConnectionString1" connectionString="Data Source=iura\iura;Initial Catalog=POS_DB;Persist Security Info=True;User ID=sa;Password=p@ssw0rd" providerName="System.Data.SqlClient"/>
    <add name="POS_System.My.MySettings.POS_DBConnectionString2" connectionString="Data Source=iura\iura;Initial Catalog=POS_DB;Persist Security Info=True;User ID=sa;Password=p@ssw0rd" providerName="System.Data.SqlClient"/>
    <add name="POS_System.My.MySettings.POS_DBConnectionString3" connectionString="Data Source=172.16.10.88;Initial Catalog=POS_DB;Persist Security Info=True;User ID=sa;Password=p@ssw0rd" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework"/>
    </providers>
  </entityFramework>
  <userSettings>
    <POS_System.My.MySettings>
      <setting name="ServerName" serializeAs="String">
        <value/>
      </setting>
      <setting name="DBName" serializeAs="String">
        <value/>
      </setting>
      <setting name="DBUsername" serializeAs="String">
        <value/>
      </setting>
      <setting name="DBPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="RememberMe" serializeAs="String">
        <value>False</value>
      </setting>
    </POS_System.My.MySettings>
  </userSettings>
</configuration>
